body {
    font-family: sans-serif;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: green;
    height: 70px;
    align-items: center;
    color: white;

}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: green;
}

img {
    width: 670px;
    height: 370px;
}

p {
    width: 50%;
    text-align: center;
    font-size: 14px;
}
table,th,td{
    width: 400px;
    height: 50px;
    text-align: center;
    border: 2px solid #000;
    border-collapse: collapse;
    font-size: 12px;
}